apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "devskin-kubernetes-agent.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "devskin-kubernetes-agent.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "devskin-kubernetes-agent.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "devskin-kubernetes-agent.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
      - name: agent
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: DEVSKIN_API_KEY
          valueFrom:
            secretKeyRef:
              name: {{ include "devskin-kubernetes-agent.fullname" . }}
              key: api-key
        - name: DEVSKIN_SERVER_URL
          valueFrom:
            secretKeyRef:
              name: {{ include "devskin-kubernetes-agent.fullname" . }}
              key: server-url
        - name: CLUSTER_NAME
          value: {{ .Values.clusterName | quote }}
        - name: DEVSKIN_ENVIRONMENT
          value: {{ .Values.environment | quote }}
        - name: COLLECTION_INTERVAL
          value: {{ .Values.collectionInterval | quote }}
        - name: BATCH_SIZE
          value: {{ .Values.batchSize | quote }}
        - name: FLUSH_INTERVAL
          value: {{ .Values.flushInterval | quote }}
        - name: DEBUG
          value: {{ .Values.debug | quote }}
        {{- with .Values.securityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
